#Others
/targetConfigs/
*.cmd
.DS_Store
.ccsproject
.project
.cproject
.settings/
.idea/
.launches/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Others

/Debug/
/Release/Log/
3D/
*.d_raw
*.map
*.txt
*.xml
*.hex
*.opt
*.lck
*.zip
*.sch
*.pdf
/in430.h
/intrinsics.h
/msp430g2553.h
